<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TrueConnectInterface.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TrueConnectInterface.Properties.Settings>
            <setting name="runserviceas" serializeAs="String">
                <value />
            </setting>
            <setting name="clientId" serializeAs="String">
                <value />
            </setting>
            <setting name="secret" serializeAs="String">
                <value />
            </setting>
            <setting name="tokenurl" serializeAs="String">
                <value />
            </setting>
            <setting name="endpoint" serializeAs="String">
                <value />
            </setting>
            <setting name="name" serializeAs="String">
                <value />
            </setting>
            <setting name="active" serializeAs="String">
                <value />
            </setting>
            <setting name="tenant" serializeAs="String">
                <value />
            </setting>
            <setting name="location" serializeAs="String">
                <value />
            </setting>
            <setting name="recursive" serializeAs="String">
                <value />
            </setting>
            <setting name="match" serializeAs="String">
                <value />
            </setting>
            <setting name="datatype" serializeAs="String">
                <value />
            </setting>
            <setting name="dataformat" serializeAs="String">
                <value />
            </setting>
            <setting name="pathencodedmetadatatags" serializeAs="String">
                <value />
            </setting>
            <setting name="pollinterval" serializeAs="String">
                <value />
            </setting>
            <setting name="concurrentuploads" serializeAs="String">
                <value />
            </setting>
            <setting name="hideAutoMode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ICAO" serializeAs="String">
                <value />
            </setting>
            <setting name="Operator" serializeAs="String">
                <value />
            </setting>
            <setting name="EngineType" serializeAs="String">
                <value />
            </setting>
            <setting name="Company" serializeAs="String">
                <value />
            </setting>
            <setting name="Source" serializeAs="String">
                <value />
            </setting>
        </TrueConnectInterface.Properties.Settings>
    </userSettings>
</configuration>